html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #3d3d3d;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    margin-left: 25px;
    margin-top: 25px;
    touch-action: none;
}
#crossHair{
	position: absolute;
	height : 100px;
	width: 100px;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
	pointer-events : none;
}

#topHud{
	position: absolute;
	top: 0;
	width: 100%;
    pointer-events : none;
}

#bottomHud{
	position: absolute;
	bottom: 0;
	width: 100%;
    pointer-events : none;
}
/* ------------------------------ STATUT DU PLAYER ------------------------------- */
#statusPlayer{
	float: left;
    height: 200px;
    width: 270px;
    background-color: rgba(61,61,61,.5);
    border-top-right-radius: 5px;
}

#lifeBox{
	padding-left: 40px;
}

#lifeBox p {
	font-family: sans-serif;
    color: white;
    font-size: 2rem;
    position: relative;
    top: 8px;
    left: 20px;
    margin: 0;
    margin-top: 20px;
}

#lifeBox img {
    height: 60px;
    float: left;
}

#armorBox{
	margin-top: 40px;
	padding-left: 40px;
}
    

#armorBox p {
	font-family: sans-serif;
    color: white;
    font-size: 2rem;
    position: relative;
    top: 12px;
    left: 20px;
    margin: 0;
}

#armorBox img {
    height: 65px;
    float: left;
}

/* ------------------------------ STATUT DES MUNITIONS ------------------------------- */
#statusAmmo{
	float: right;
    height: 200px;
    width: 300px;
    background-color: rgba(61,61,61,.5);
    border-top-left-radius: 5px;
}

#ammoBox{
	padding-left: 38px;
}

#ammoBox p {
	font-family: sans-serif;
    color: white;
    font-size: 2rem;
    position: relative;
    top: 10px;
    left: 20px;
    margin: 0;
    margin-top: 20px;
}

#ammoBox img {
    height: 60px;
    float: left;
}

#typeWeapon{
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 40px;
}

/* ---------------------------------- LEADERBOARD ------------------------------------ */
h2{
    margin: 0;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
    margin-top: 16px;
}
#leaderBoard{
	float: right;
    height: 280px;
    width: 220px;
    background-color: rgba(61,61,61,.5);
    border-bottom-left-radius: 5px;
    padding:30px;
    color: white;
    margin-right: 20px;
}
#leaderBoard ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    width: 200px;
    padding: 10px;
    position: relative;
    border: 1px solid #b1b1b1;
}
#leaderBoard ul li{
    padding: 8px 0;
}
#leaderBoard ul li p{
    margin:0;
}
.nameLeaderboard{

}

#identityGame{
    font-family: sans-serif
}
.scoreLeaderboard{
    float: right;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* ------------------------------- FENETRE D'ANNONCES --------------------------------- */
#announcementKill{
	position: absolute;
    margin: 0 auto;
    width: 110%;
    left: -10%;
    top: 35%;
    background-color: rgba(61,61,61,.8);
    padding: 10px;
    pointer-events:none;
    opacity : 1;
    transition :all 0.5s ease;
    transform-origin: 50% 0;
    transform: scaleY(1);
}
.annoucementClose{
	opacity : 0!important;
    transform: scaleY(0)!important;
}
#interiorDiv{
    width: 100%;
    border: 1px solid #9c9c9c;
    margin-left: 5%;
}

#textAnouncement{
	text-align: center;
    color: white;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    margin: 15px 15%;
}